matplotlib==3.7.1
numpy==1.24.3
opencv_python==4.7.0.72
path.py==12.5.0
Pillow==9.5.0
Pillow==10.2.0
python_hostlist==1.23.0
scipy==1.12.0
torch==2.1.2
torchvision==0.15.2+cu118
tqdm==4.65.0
~orch==2.0.1+cu118
